/* iframe video responsive */ 
@media only screen and (min-width:321px) and (max-width:1000px) {
  .iframe-container-video {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container-video iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/* nav logo image responsive */ 
@media only screen and (max-width: 600px) {
  .img-nav-mobile {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (min-width:321px) and (max-width:602px) {
  .img-nav-mobile {
    width: 55px;
    height: 55px;
  }
}

@media only screen and (min-width:602px) {
  .img-nav-desktop {
    width: 63px;
    height: 63px;
  }
}


